{% extends "layout.html" %}

{% block content %}

<main id="main-collapse">
    <div class="hero-full-wrapper">
        <div class="grid">
            <div class="gutter-sizer"></div>
            <div class="grid-sizer"></div>

            <div class="grid-item">
                <img class="img-responsive" alt="food" src="{{ url_for('static', filename='assets/images/img-12.jpg') }}">
                <a href="{{ url_for('project') }}" class="project-description">
                    <div class="project-text-holder">
                        <div class="project-text-inner">
                            <p class="discover">Afla mai multe</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item">
                <img class="img-responsive" alt="food" src="{{ url_for('static', filename='assets/images/img-05.jpg') }}">
                <a href="{{ url_for('project') }}" class="project-description">
                    <div class="project-text-holder">
                        <div class="project-text-inner">
                            <p class="discover">Afla mai multe</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item">
                <img class="img-responsive" alt="food" src="{{ url_for('static', filename='assets/images/img-13.jpg') }}">
                <a href="{{ url_for('project') }}" class="project-description">
                    <div class="project-text-holder">
                        <div class="project-text-inner">
                            <p class="discover">Afla mai multe</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item">
                <img class="img-responsive" alt="food" src="{{ url_for('static', filename='assets/images/img-04.jpg') }}">
                <a href="{{ url_for('project') }}" class="project-description">
                    <div class="project-text-holder">
                        <div class="project-text-inner">
                            <p class="discover">Afla mai multe</p>
                        </div>
                    </div>
                </a>
            </div>
    
            <div class="grid-item">
                <img class="img-responsive" alt="food" src="{{ url_for('static', filename='assets/images/img-07.jpg') }}">
                <a href="{{ url_for('project') }}" class="project-description">
                    <div class="project-text-holder">
                        <div class="project-text-inner">
                            <p class="discover">Afla mai multe</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item">
                <img class="img-responsive" alt="food" src="{{ url_for('static', filename='assets/images/img-11.jpg') }}">
                <a href="{{ url_for('project') }}" class="project-description">
                    <div class="project-text-holder">
                        <div class="project-text-inner">
                            <p class="discover">Afla mai multe</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item">
                <img class="img-responsive" alt="food" src="{{ url_for('static', filename='assets/images/img-10.jpg') }}">
                <a href="{{ url_for('project') }}" class="project-description">
                    <div class="project-text-holder">
                        <div class="project-text-inner">
                            <p class="discover">Afla mai multe</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item">
                <img class="img-responsive" alt="food" src="{{ url_for('static', filename='assets/images/img-03.jpg') }}">
                <a href="{{ url_for('project') }}" class="project-description">
                    <div class="project-text-holder">
                        <div class="project-text-inner">
                            <p class="discover">Afla mai multe<p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</main>

{% endblock content %}
